{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 8,
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@nestjs/(.*)$",
    "^@/common/(.*)$",
    "^@/domain",
    "^@/domain/(.*)$",
    "^@/shared-service",
    "^@/shared-service/(.*)$",
    "^@/config",
    "^@/config/(.*)$",
    "^@/interceptors",
    "^@/interceptors/(.*)$",
    "^@/interfaces",
    "^@/interfaces/(.*)$",
    "^@/decorators",
    "^@/decorators/(.*)$",
    "^@/guards",
    "^@/guards/(.*)$",
    "^@/utils",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ]
}