<html>
    <head>
        <style>

        </style>
    </head>
    {{> partials/header title="This is title" }}
      <img src="https://images.unsplash.com/photo-1652508682936-f76c04760e5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3028&q=80">
        <p>{{name}} 님께</p>
        <p>WiseSaying 의 사용자 암호가 성공적으로 재설정되었습니다.</p>
        <p>이러한 사항을 변경하지 않았거나 권한이 없는 사람이 본인의 계정에 접속했다고 판단되는 경우 즉시 wise-saying.com 페이지로 이동해 계정 암호를 재설정하십시오.</p>
        <a href="https://wise-saying.com">사이트 바로가기</a>
        <p>추가적인 도움이 필요하시면 WiseSaying 지원 팀에 문의하십시오.</p>
        <p>감사합니다.</p>
    </body>
    {{> partials/footer}}
</html>